.background {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100vw;
  height: 100vh;
  background-image: url('gradient.jpg');
  background-size: contain;
  background-position: center;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));

}

.form{
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  width: 25%;
  height: 25%;
  background-color: whitesmoke;
  border-radius: 10%;
}

